.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.bg-white {
	background-color: white;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	position: relative;
	text-align: center;
	color: black;
}

header {
	position: relative;
	height: 40px;
	width: 100%;
	background-color: orange;
}

#nav-menu {
	float: left;
	font-size: 40px;
}

main {
	position: relative;
	height: calc(100% - 40px);
	width: inherit;
}

#token-section {
	position: relative;
	height: 40%;
	background-color: antiquewhite;
}

#feedback-section {
	position: relative;
	height: 60%;
	background-color: chocolate;
}

#piggy-container {
	position: relative;
	padding: 40px 0;
}

#piggy-bank {
	width: 200px;
	height: auto;
}

#token-container {
	position: relative;
}

.tkn {
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 0 8px;
	cursor: pointer;
}

.tkn--is-selected {
	background-color: gold;
	border-color: goldenrod;
}

.arcade {
	height: 120px;
	width: 80px;
	cursor: pointer;
}

.arcade-bundle {
	display: inline-block;
}

.cntr {
	width: 80px;
	color: black;
	padding: 6px 0;
	text-align: center;
	border: solid black 2px;
	border-radius: 14px;
}

.cntr--is-most {
	background-color: lightgreen;
	color: green;
}

.cntr--is-least {
	background-color: lightcoral;
	color: maroon;
}
