.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.bg-white {
	background-color: white;
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	position: relative;
	text-align: center;
	color: black;
}

header {
	position: relative;
	height: 40px;
	width: 100%;
	background-color: orange;
}

#nav-menu {
	float: left;
	font-size: 40px;
}

main {
	position: relative;
	height: calc(100% - 40px);
	width: inherit;
}

#token-section {
	position: relative;
	height: 40%;
	background-color: antiquewhite;
}

#feedback-section {
	position: relative;
	height: 60%;
	background-color: chocolate;
}

#piggy-container {
	position: relative;
	padding-top: 5vh;
	height: 50%;
}

#piggy-bank {
	width: 200px;
	height: auto;
}

#piggy-bank-balance {
	position: relative;
	font-size: 40px;
	transform: translate(0, -110px);
}

#token-container {
	position: relative;
	padding-top: 2vh;
	height: 30%;
}

.tkn {
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 0 8px;
	cursor: pointer;
}

.tkn--is-selected {
	background-color: gold;
	border-color: goldenrod;
}

.arcade-bundle {
	display: inline-block;
}

.cntr {
	min-width: 80px;
	max-width: 8vw;
	margin: 2vh 5vw 2vh 5vw;
	color: black;
	padding: 6px 0;
	text-align: center;
	border: solid black 2px;
	border-radius: 14px;
}

.cntr--is-most {
	background-color: lightgreen;
	color: green;
}

.cntr--is-least {
	background-color: lightcoral;
	color: maroon;
}

.arcade {
	min-width: 80px;
	max-width: 8vw;
	margin: 0 5vw 0 5vw;
	cursor: pointer;
}

.prompt {
	display: flex;
	border-radius: 20px;
	border: solid black 2px;
	max-width: 14vw;
	margin: 1vw;
	padding: 1vw;
	text-align: justify;
}

/* ANIMATIONS */

.jiggleright {
	animation-name: jiggleRt;
	animation-duration: 0.5s;
}

.jiggleleft {
	animation-name: jiggleLt;
	animation-duration: 0.5s;
}

@keyframes jiggleRt {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes jiggleLt {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0);
	}
}

.bounce {
	position: relative;
	animation-name: bounce;
	animation-duration: 0.5s;
}

@keyframes bounce {
	0% {
		transform: translate(0, 0);
	}
	30% {
		transform: translate(0, -15px);
	}
	45% {
		transform: translate(0, 0);
	}
	65% {
		transform: translate(0, -5px);
	}
	100% {
		transform: translate(0, 0);
	}
}
